<h2>Public Profile</h2>
<hr>

<div class="container">
    <div>
        <p><strong>Name: </strong>Dharmendra Verma</p>
    </div>
    <div>
        <p><strong>Username: </strong>Ghost721</p>
    </div>
    <div>
        <p><strong>Email: </strong>test@test.test</p>
    </div>
    <div>
        <p><strong>Website: </strong>www.test.co.in</p>
    </div>
    <div>
        <p><strong>Date of Birth: </strong>yyyy-mm-dd</p>
    </div>
    <div>
        <p><strong>Gender: </strong>Male</p>
    </div>
    <div>
        <p><strong>Bio: </strong>more than fine</p>
    </div>
    <div>
        <p><strong>Location: </strong>Unkown place</p>
    </div>
</div>