<h2>Basic Security</h2>
<hr>
<div class="container">
    <h4 class="text-dark">Change Password</h4>
    <form>
        <div>
            <label for="old_password">Old Password:</label>
            <input type="password" class="form-control w-50 ml-5">
        </div>
        <div>
            <label for="new_password">New Password:</label>
            <input type="passowrd" class="form-control w-50 ml-5">
        </div>
        <div>
            <label for="re_new_password">Re-enter New Password:</label>
            <input type="passowrd" class="form-control w-50 ml-5">
        </div>
    </form>
</div>