<div class="mt-n5">
    <div class="cover">
        <img src="./assets/images/web.jpg" class="img-fluid background-image" alt="">
    </div>
    <div class="details">
        <div class="profile-cover">
            <img class="img-fluid" src="./assets/images/pp3.jpg" alt="">
            <a href="#" class="change-profile-link">
                <div class="change-profile">
                    Change Profile
                </div>
            </a>
        </div>
        <div class="follow-info">
            <div class="container">
                <div class="row pt-5 text-center">
                    <div class="col-md-3 col-sm-12 offset-2">
                        <h4><strong>Contact</strong></h4>
                        <div>
                            <p>@ghost721</p>
                            <p>test@test.test</p>
                        </div>
                    </div>
                    <div class="col-md-3 col-sm-12">
                        <h4><strong>Followers</strong></h4>
                        <div>
                            <p class="h2">12k</p>
                        </div>
                    </div>
                    <div class="col-md-3 col-sm-12">
                        <h4><strong>Following</strong></h4>
                        <div>
                            <p class="h2">152</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row mt-5">
            <div class="container">
                <div class="row">

                    <div class="col-md-4 col-sm-12">
                        <ul class="list-group">
                            <a class="list-group-item list-group-item-action">Home</a>
                            <a class="list-group-item list-group-item-action">Blog</a>
                            <a class="list-group-item list-group-item-action">Security</a>
                            <a class="list-group-item list-group-item-action">Others</a>
                        </ul>
                    </div>
                    <div class="col-md-8 col-sm-12">
                        <router-outlet></router-outlet>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>