<mat-horizontal-stepper labelPosition="end">
    <mat-step [stepControl]="firstFormGroup">
        <form [formGroup] = "firstFormGroup">
            <ng-template matStepLabel>Basic intro of Blog</ng-template>
            <div class="direction-buttons">
                <button class="d-block mr-0 ml-auto" mat-button matStepperNext type="submit" (click) = "onFormSubmit()">Next</button>
            </div>
            <label for="title">Title</label>
            <input 
                class="form-control"
                name="title"
                formControlName="title"
                type="text"
                required>

            <br>
            Upload Blog image
            <div id="upload_hero">
                <div>
                    <label for="hero_image">Hero Image</label>
                    <input 
                        type="file" 
                        name="hero_image"
                        formControlName="hero_image"
                        id="hero_image" 
                        (change)="onFileSelected($event)">
                    {{hero_image_file_name}}
                    <div class="hero_image_preview">
                        <img [src]="hero_image_url"  [alt]="hero_image_file_name" class="img-responsive">
                    </div>
                </div>
            </div>
        </form>
    </mat-step>
    <mat-step [stepControl]="editorForm">
        <form [formGroup]="editorForm">
            <ng-template matStepLabel>Write your blog</ng-template>
            <div class="direction-buttons">
                <button mat-button matStepperPrevious>Back</button>
                <button mat-button matStepperNext type="submit" (click) = "onFormSubmit()">Next</button>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        <label for="editor"><h3>Editor</h3></label>
                        <quill-editor formControlName="editor" [styles]="{height: '200px'}" [modules] = "modules" (onEditorChanged) = "onEditorChanged($event)"></quill-editor>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class=" d-flex justify-content-between">
                        <label for="preview"><h3>Preview</h3></label>
                        <button class="btn btn-sm btn-primary pt-1 pb-1" (click) = "onPublish()">Publish</button>
                    </div>
                    <quill-view-html [content]="previewTemplate" format="html" theme="snow"></quill-view-html>
                </div>
            </div>
        </form>
    </mat-step>
    <mat-step [stepControl]="tagsFormGroup">
        <form [formGroup]="tagsFormGroup">
            <ng-template matStepLabel>Write tags</ng-template>
            <div class="direction-buttons">
                <button mat-button matStepperPrevious>Back</button>
                <button mat-button matStepperNext type="submit" (click) = "onFormSubmit()">Next</button>
            </div>
            <div class="tags">
                <label for="tags">Add Tags for your Blog:</label>
                    <mat-chip-list #tagList>
                        <mat-chip
                            *ngFor="let tag of tags"
                            [selectable]="selectable"
                            [removable]="removable"
                            (removed)="remove(tag)">
                            {{tag}}
                            <mat-icon matChipRemove *ngIf="removable">cancel</mat-icon>
                        </mat-chip>
                    </mat-chip-list>
                    <input
                        placeholder="Add tags ..."
                        formControlName="tagsCtrl"
                        class="form-control w-100 mt-3"
                        [matChipInputFor]="tagList"
                        [matChipInputSeparatorKeyCodes] = "separatorKeysCodes"
                        (matChipInputTokenEnd)="add($event)">
            </div>
        </form>
    </mat-step>
    <mat-step [stepControl]="fourthFormGroup">
        <form [formGroup]="fourthFormGroup">
            <ng-template matStepLabel>Get Preview</ng-template>
            <div class="direction-buttons">
                <button mat-button matStepperPrevious>Back</button>
                <button mat-button class="save_blog" type="submit" (click) = "onSaveBlog()">Save Blog</button>
            </div>

            <div class="jumbotron jumbotron-fluid"
                style="background-image: url({{blogTemplate.image}})">
                <div class="container">
                <h1 class="display-4">{{blogTemplate.title}}</h1>
                <p class="lead">Author</p>
                </div>
            </div>
            <div class="container blog-content">
                <quill-view-html [content]= "blogTemplate.description"></quill-view-html>
            </div>
        </form>
    </mat-step>

</mat-horizontal-stepper>
  